#sidebar
  %h1 Projects
  %ul.menu
    %li
      %a{:href => "/art-of-noises"} Art Of Noises
  = haml :categories, :layout => false
  = haml :feed, :layout => false

  %p Email: <a href="mailto:kim@alliscalm.net">kim@alliscalm.net</a>

  <a class="twitter-timeline" href="https://twitter.com/kimadactl" data-widget-id="483597554999775233">Tweets by @kimadactl</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


