Template: project

#content
  %article(role="main")
    %h1 Art Of Noises

    %p Art Of Noises is a game of abstract musical performance for 3-5 people. Players take the role of avant-garde performers, attempting to communicate various nouns, verbs and adjectives using a variety of toy instruments. Each player takes it in turn to select a card and perform the word on it. The other players guess which word is being performed. At the end of the game, the person with the most points wins, and is declared the most avant-garde.

    %p Art Of Noises is based on my research into the sociology of listening, and is an opportunity to explore how we communicate through sounds. It channels John Cage's passion for experimentation, chance, and his open-definition of what music is, and explicitly makes the players performers in their own scratch orchestra. It's also an attempt to question who is a performer, and encourage a return to more aural sensibilities. <a href="/articles/why-art-of-noises">I've written a lengthy post about the rationale behind the game, if you want to know more</a>.

    %p The game is available under a  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons BY-NC-SA license</a> - in other words, it's free to use, alter and share if you're not using it commercially.

    %img{:src => "attachments/art-of-noises/cards.jpg"}

    %img{:src => "attachments/art-of-noises/art-of-noises.jpg"}


  %section.articles{:style => "clear: both; margin-top: 2em"}
    %h2 Posts about <em>Art Of Noises</em>
    = article_summaries(@page.articles)
#sidebar
  %h2 <i class="fi-calendar"></i> Live

  :markdown
    I'll next be running the game live at [GameCity Nottingham](http://gamecity.org/), on [Friday 31st October](http://gamecity2014.sched.org/event/752ea51ddc6697c0b3d94d4831a1e175#.VEUz9fldUeU) and [Saturday 1st November](http://gamecity2014.sched.org/event/4b67fdf21d24aabf683468dc9db1da6c#.VEU0W_ldUeU) in the Open Arcade. Come say hi?

  %h2 <i class="fi-download"></i> Downloads

  %p
    %i.fi-page-pdf
    %a{:href => "/attachments/art-of-noises/rules.pdf"} Rules [pdf]
    %br
    %i.fi-page-pdf 
    %a{:href => "/attachments/art-of-noises/cardsheet.pdf"} Cardsheet [pdf]

  %p To make your own copy, simply print off the rules and cardsheet above. I recommend printing the cardsheet on thin card, and the rules double sided if possible!


  %h2 <i class="fi-price-tag"></i> Buy a copy?

  %p I have a limited run of five copies for sale. Each copy contains 192 cards, and is in a hand-made, embroidered bag. Please email <a href="mailto:kim@alliscalm.net">kim@alliscalm.net</a> if you're interested.

  %p They are £25 plus postage and packing. Please note you need to supply your own instruments! <i class="fi-music"></i>

  %img{:src => "attachments/art-of-noises/bags-small.jpg", :style => "width: 100%"}


